.myVideo {
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 400px;
  display: none;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}
.horizontal-rotate {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}
.captured_image {
  height: 200px;
  width: 300px;
}
.basic-form {
  display: absolute;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  max-width: 400px;
}
.pointer {
  cursor: pointer;
}
.hyperlink:hover {
  text-decoration: none;
}
.app-icon {
  margin-top: 30px;
  width: 80px;
  height: 80px;
}
.send-icon {
  content: url("../icons/send-button.svg");
}
.emoji {
  width: 20px;
  height: 20px;
}
.sad-emoji {
  content: url("../icons/sad.svg");
  object-fit: cover;
}
.confused-emoji {
  content: url("../icons/confused.svg");
  object-fit: cover;
}
.happy-emoji {
  content: url("../icons/happy.svg");
  object-fit: cover;
}
.angry-emoji {
  content: url("../icons/angry.svg");
  object-fit: cover;
}
.scared-emoji {
  content: url("../icons/scared.svg");
}
.chat-app-background {
  background: url("../icons/background1.jpg");
  background-repeat: repeat;
}
.chat-input-layout {
  position: fixed;
  bottom: 0px;
  padding-left: 65px;
  width: 100vw;
}
.chat-body {
  margin-left: 60px;
}
.user-icon {
  content: url("../icons/user.svg");
}
.online-user {
  width: 30px;
  height: 30px;
}

.increased-height {
  height: 90px !important;
}
.other-message {
  text-align: left;
}
.other-message > div {
  background: whitesmoke;
  border-radius: 0px 15px;
}
.my-message {
  text-align: right;
}
.my-message > div {
  background: rgb(241, 229, 214);
  border-radius: 15px 0px;
}
.message-box {
  color: #2c2c2c;
  display: inline-block;
  max-width: 300px;
  margin: 7px;
  padding: 5px;
}
.user-name {
  color: teal;
  font-size: 12px;
  font-weight: 500;
}
.message {
  width: 100%;
  margin-bottom: 0px;
}
.time {
  color: teal;
  width: 100%;
  font-size: 12px;
  text-align: right;
}
.loading-background {
  position: fixed;

  height: 100vh;
  width: 100vw;
  background: #2c2c2c;
  opacity: 0.7;
}
.loading-icon-container {
  vertical-align: center;
}
.rotate {
  /* padding: 20% 39%;
  */
  margin-top: 40vh;
  width: 100px;
  height: 100px;
  content: url("../icons/loading.svg");
  -webkit-animation: spin 0.8s infinite linear;
  animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
